/* styles/EfficiencyPage.css */

/* 상단 광고 영역 스타일 */
.top-ad-container {
  width: 100%;
  max-width: 1000px;
  margin: 20px auto; /* 중앙 정렬 및 여백 */
  margin-top: 90px;
  padding: 0px; /* 상하 여백 */
  text-align: center; /* 중앙 정렬 */
  background-color: #e1e5df; /* 배경색 추가 */
  border-radius: 0px; /* 모서리 둥글게 */
  height: 0px;
}

/* 전체 페이지 스타일 */
.efficiency-page {
  max-width: 1000px;
  margin: 0 auto;
  padding: 40px;
  background-color: #fff;
  border-radius: 20px;
  margin-top: 120px;
  text-align: right;
}

h1 {
  margin-top: 0px;
  font-family: 'Cafe24 Ssurround', sans-serif;
  font-size: 30px;
  font-weight: 700;
  text-align: left;
  margin-bottom: 0px;
}

/* 버튼 그룹 컨테이너 스타일 */
.filter-buttons {
  display: flex;
  justify-content: space-around;
  gap: 0px;
  margin: 20px 0;
}

/* 기본 버튼 스타일 */
.filter-button {
  font-family: 'SUIT Variable', sans-serif;
  font-weight: 700;
  padding: 8px 20px;
  font-size: 14px;
  border: 2px solid  #88c1a0;
  background-color: #ffffff;
  color:  #88c1a0;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
}

/* 버튼 hover 효과 */
.filter-button:hover {
  background-color:  #88c1a0;
  color: #ffffff;
}

/* 버튼 active 상태 */
.filter-button:active {
  transform: scale(0.95);
}

/* 선택된 필터 버튼 스타일 (추가적으로 선택 상태 관리 가능) */
.filter-button.selected {
  color: #000000 !important;
  border-color : #000000 !important ;
}

.sort-button {
  display: inline-block;
  background-color: #88c1a0; /* 버튼 색상 */
  font-family: 'SUIT Variable', sans-serif;
  color: #FFFFFF; /* 텍스트 색상 */
  font-size: 16px;
  font-weight: 800;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;
  margin-top: 10px;
  transition: all 0.3s ease;
}

.sort-button:hover {
  background-color: #ffb01e; /* 호버 시 버튼 색상 */
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 20px;
  font-family: 'Cafe24 Ssurround', sans-serif;
  color: #4e66cf;
}

.fade-in {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.fade-in.active {
  opacity: 1; /* 로딩 완료 후 투명도 1로 변경 */
}

/* Info 아이콘 스타일 */
.info-icon {
  font-size: 20px;
  color: #4e66cf;
  text-decoration: none; /* 밑줄 제거 */
  margin-left: 10px;
}

.info-icon:hover {
  color: #ffb01e; /* 호버 시 강조 색상 */
  cursor: pointer; /* 손 모양 커서 */
}

@media (max-width: 768px) {
  .efficiency-page {
    margin-top: 120px;
    max-width: 100%; /* 페이지가 화면 전체를 차지하도록 설정 */
    margin: 0 auto;
    margin-top: 60px;
    padding-left: 2px ; /* 내부 여백 최소화 */
    padding-right: 2px ; /* 내부 여백 최소화 */
    padding-top: 40px; /* 내부 여백 최소화 */
    border-radius: 0px; /* 둥근 모서리 제거 */
  }

  h1 {
    margin-top: 0px;
    text-align: left;
    margin-bottom: 10px;
    margin-left: 20px;
  }

  .sort-button {
    display: inline-block;
    background-color: #88c1a0; /* 버튼 색상 */
    font-family: 'Cafe24 Ssurround', sans-serif;
    color: #FFFFFF; /* 텍스트 색상 */
    font-size: 13px;
    font-weight: bold;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
    margin-top: -10px;
  }
}
