.item-list {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    margin-top: 10px;
    margin-bottom: 20px;
  }

  .red {
    color: red;
  }
  
  .item-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90px;
    padding: 8px;
    background-color: var(--box-bg);
    border-radius: 8px;
    text-align: center;
  }
  
  .item-icon {
    width: 40px;
    height: 40px;
    margin-bottom: 5px;
  }
  
  .item-name {
    font-size: 13px;
    margin-bottom: 4px;
    color: var(--text);
  }
  
  .checkbox-label {
    font-size: 12px;
    color: var(--gray);
  }
  
  /* 각인서 숨기기 */
  .engraving-hidden .item-card {
    display: none;
  }
  
  .manual-input {
    width: 60px;
    height: 16px;
    font-size: 13px;
    text-align: center;
    border: 1px solid var(--border);
    border-radius: 6px;
    background-color: var(--box-bg); /* 어울리는 배경색 */
    color: var(--text);
    font-family: var(--font-main);
    margin-top: 4px;
  }
  