.vertical-group {
    display: flex;
    flex-direction: column; /* 세로 정렬 */
    align-items: flex-start; /* 좌측 정렬 */
    gap: 10px; /* 행 간 간격 */
    margin-bottom: 20px;
    width: 35%;
    height:  95%;
    position: relative; /* 버튼을 아래로 위치 */
}

.input-group {
    width: 40%; /* 각 행을 가득 채움 */
}

.input-group label {
  font-family: 'SUIT Variable';
    font-size: 16px;
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
    text-align: left;
    margin-left: 10px;
}

.input-group select,
.input-group input {
    width: 100%; /* 입력 필드를 부모 크기에 맞춤 */
    height: 36px;
    padding: 8px 8px 8px 9px; /* 왼쪽 여백을 추가 */
    font-family: 'SUIT Variable';
    font-weight: 600;
    font-size: 16px;
    border: 1px solid #bdbdbd;
    border-radius: 5px;
    box-sizing: border-box;
}

.submit-button {
    margin-top: auto; /* 나머지 요소들 아래로 밀어냄 */
    padding: 8px 15px;
    font-family: 'SUIT Variable';
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    border: none;
    background-color: #88c1a0;
    color: white;
    border-radius: 5px;
    align-self: flex-end; /* 버튼만 오른쪽으로 정렬 */
    transition: all 0.3s ease;
}

.submit-button:hover {
    background-color: #ffb01e;
}

/* 모바일용 스타일 추가 */
@media (max-width: 768px) {
    .vertical-group {
      display: flex;
      flex-direction: row; /* 가로 정렬 */
      flex-wrap: wrap; /* 줄 바꿈 허용 */
      justify-content: space-between;
      gap: 5px; /* 요소 간 간격 */
      width: 99%; /* 화면 너비 사용 */
      margin-left: 5px; /* 테이블 간 여백 축소 */
      margin-right: 5px; /* 테이블 간 여백 축소 */
    }
  
  
    .input-group {
      width: 48%; /* 각 행을 가득 채움 */
  }
    .input-group label {
      font-family: 'SUIT Variable';
      font-size: 13px; /* 글씨 크기 줄이기 */
      margin-left: 5px; /* 왼쪽 여백 축소 */
    }
  
    .input-group select,
    .input-group input {
      box-sizing: border-box; /* 패딩과 테두리를 포함한 너비 계산 */
      text-align: left;
      font-size: 13px; /* 입력 필드 글씨 크기 줄이기 */
      height: 32px; /* 입력 필드 높이 줄이기 */
      padding: 6px; /* 내부 여백 줄이기 */
    }

    .submit-button {
      flex-basis: calc(48%); /* 한 줄에 두 항목 (간격 제외한 50%) */
      box-sizing: border-box; /* 패딩과 테두리를 포함한 너비 계산 */
      text-align: center;
      font-size: 13px; /* 입력 필드 글씨 크기 줄이기 */
      height: 32px; /* 입력 필드 높이 줄이기 */
      padding: 6px; /* 내부 여백 줄이기 */
    }
  
  }
