/* 상단 광고 영역 스타일 */
.top-ad-container {
  width: 100%;
  max-width: 1000px;
  margin: 20px auto; /* 중앙 정렬 및 여백 */
  margin-top: 90px;
  padding: 0px; /* 상하 여백 */
  text-align: center; /* 중앙 정렬 */
  background-color: #e1e5df; /* 배경색 추가 */
  border-radius: 0px; /* 모서리 둥글게 */
  height: 0px;
}

.horizontal-ad {
  display: block;
  width: 100%;
  max-width: 900px; /* 광고 최대 크기 */
  margin: 10px auto; /* 가운데 정렬 */
  text-align: center;
}

.side-ad {
  position: fixed;
  top: 120px;
  width: 200px; /* 광고 크기 */
  height: 1000px; /* 광고 높이 */
  z-index: 1000; /* 다른 요소 위에 표시 */
  overflow: hidden; /* 광고 크기 초과 방지 */

}

.side-ad-left {
  left: calc((100% - 1500px) / 2 - 50px); /* 컨테이너 왼쪽에서 10px 떨어지도록 계산 */
}

.side-ad-right {
  right: calc((100% - 1500px) / 2 - 50px); /* 컨테이너 오른쪽에서 10px 떨어지도록 계산 */
}

@media (max-width: 768px) {
  .horizontal-ad {
    max-width: 0px;
    height: 0px;
    display: none; /* 모바일에서는 광고 숨기기 */
  }
  .app-content {
    padding-bottom: 80px; /* 광고 대신 하단 공백 확보 */
  }
}

@media (max-width: 1601px) {
  .side-ad {
    width: 0px;
    height: 0px;
    display: none; /* 모바일에서는 광고 숨기기 */
  }
  .app-content {
    padding-bottom: 80px; /* 광고 대신 하단 공백 확보 */
  }
}