/* index.css */
body {
  margin: 0;
  padding: 0;
  background-color: var(--page-bg); /* ✅ 전체 페이지 배경 */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
