/* 테이블 스타일 */
.efficiency-table {
  width: 100%;
  background: #FFFFFF;
  border-radius: 10px;
  border: 2px solid #BDBDBD;
  margin-bottom: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.table-header {
  background: #e6e6e645;
  display: flex;
  justify-content: space-between;
  font-family: 'SUIT Variable', sans-serif;
  font-size: 20px;
  font-weight: 800;
  padding: 10px;
  border-bottom: 1px solid #BDBDBD;
}

.left-header {
  text-align: left;
}

.right-header {
  text-align: right;
}

.right-header span {
  font-size: 20px; /* 골드 값만 더 크게 */
  color: #000000; /* 금색 */
  font-weight: 800;
}

.table-row {
  display: flex;
  border-bottom: 1px solid #BDBDBD;
}

.cell {
  flex: 1;
  font-family: 'SUIT Variable', sans-serif;
  font-size: 20px;
  font-weight: 700;
  padding: 10px;
  text-align: center;
}

.gray-text {
  color: rgb(77, 77, 77);
}

.table-footer {
  display: flex;
  justify-content: space-between;
  font-family: 'SUIT Variable', sans-serif;
  font-size: 20px;
  font-weight: 700;
  padding: 10px;
  color: #000000;
}

.left-footer {
  text-align: left;
}

.right-footer {
  text-align: right;
}

.highlight-time {
  color: #4e66cf; /* 시간 부분 색상 */
}

.highlight-gold {
  color: #000000; /* 금색 */
  font-weight: 700;
  text-shadow: 0 0 10px #FFA500; /* 빛나는 효과 */
}

.table-row .cell.icon-cell {
  display: flex;
  align-items: center;
}

.table-row .cell.icon-cell img {
  width: 24px; /* 아이콘 크기 */
  height: 24px;
  margin-right: 8px; /* 아이콘과 텍스트 사이의 간격 */
}

/* ===== 모바일용 스타일 ===== */
@media (max-width: 768px) {
  /* 테이블 전체 스타일 */
  .efficiency-table {
    border-radius: 0; /* 모서리 둥근 효과 제거 */
    padding: 0px;
    margin-bottom: 10px; /* 테이블 간격 줄이기 */
    border: 1px solid #BDBDBD; /* 테두리 간소화 */
  }

  /* 헤더 텍스트 크기 줄이기 */
  .table-header {
    font-size: 15px; /* 글씨 크기 줄이기 */
    padding: 8px; /* 패딩 줄이기 */
  }

  .right-header span {
    font-size: 16px; /* 골드 값만 더 크게 */
    color: #000000; /* 금색 */
    font-weight: 700;
  }

  /* 셀 텍스트 크기 줄이기 */
  .cell {
    font-size: 15px; /* 글씨 크기 줄이기 */
    padding: 8px; /* 패딩 줄이기 */
  }

  /* 푸터 텍스트 크기 줄이기 */
  .table-footer {
    font-size: 15px; /* 글씨 크기 줄이기 */
    padding: 8px; /* 패딩 줄이기 */
  }

  /* 아이콘 크기 줄이기 */
  .table-row .cell.icon-cell img {
    width: 18px; /* 아이콘 크기 줄이기 */
    height: 18px;
    margin-right: 6px; /* 아이콘과 텍스트 간 간격 줄이기 */
  }

}
